@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: 'Geist', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
  }

  body {
    @apply bg-light-base dark:bg-dark-base text-gray-900 dark:text-gray-100;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-dark-lighter;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/80;
}

html {
  scroll-behavior: smooth;
}
